<div class="container mb-5">
    <h3 class="">Noticias</h3>
    <hr>
    <div class="row">
        <div class="col-md-9">
            <a href="https://motor1.uol.com.br/news/426510/fiat-toro-2021-lancamento/" target="_blank">
                <figure class="figure">
                    <img src="../../assets/img/imagem1.jpg" alt="Fiat Toro" class="figure-img img-fluid">
                    <figcaption class="figure-caption">Fiat Toro 2021 ganha nova multimídia da Strada</figcaption>
                </figure>
            </a>
            <div class="row">
                <div class="col-md-6">
                    <a href="https://quatrorodas.abril.com.br/noticias/com-mudancas-sutis-novo-ford-fiesta-parte-de-r-56-690/"
                        target="_blank">
                        <figure class="figure">
                            <img src="../../assets/img/fiesta.jpg" alt="Ford Fiesta">
                            <figcaption class="figure-caption">Novo Fiesta Titanium</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="https://www.honda.com.br/automoveis/fit"
                        target="_blank">
                        <figure class="figure">
                            <img src="../../assets/img/honda fit.jpg" alt="Honda Fit">
                            <figcaption class="figure-caption">Novo Honda Fit 2020</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="https://quatrorodas.abril.com.br/noticias/vw-amarok-v6-de-272-cv-estreia-este-mes-como-picape-mais-potente-do-brasil/"
                        target="_blank">
                        <figure class="figure">
                            <img src="../../assets/img/Amarok.jpg" alt="Amarok">
                            <figcaption class="figure-caption">VW Amarok V6</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="https://quatrorodas.abril.com.br/noticias/fiat-mobi-2021-traz-inedita-versao-trekking-e-enfim-central-multimidia/"
                        target="_blank">
                        <figure class="figure">
                            <img src="../../assets/img/mobi.jpeg" alt="Fiat Mobi">
                            <figcaption class="figure-caption">Fiat Mobi 2021</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="https://www.uol.com.br/carros/noticias/redacao/2020/10/16/como-carros-eletricos-fizeram-marcas-de-luxo-bombarem-em-plena-pandemia.htm"
                        target="_blank">
                        <figure class="figure">
                            <img src="../../assets/img/audi.jpg" alt="Audi e-tron">
                            <figcaption class="figure-caption">Audi E-tron</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="https://www.autoo.com.br/renault-alaskan-tera-producao-iniciada-em-breve-na-argentina/"
                        target="_blank">
                        <figure class="figure">
                            <img src="../../assets/img/alaskan.jpg" alt="Renault Alaskan">
                            <figcaption class="figure-caption">Renault Alaskan</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="https://www.motoo.com.br/bmw-renova-r-1250-rt-que-chega-ao-brasil-em-2021/"
                        target="_blank">
                        <figure class="figure">
                            <img src="../../assets/img/BMW 1250 RT.jpg" alt="BMW 1250 RT">
                            <figcaption class="figure-caption">BMW 1250 RT</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="https://www.motoo.com.br/honda-forza-750-finalmente-e-revelado/"
                        target="_blank">
                        <figure class="figure">
                            <img src="../../assets/img/Honda Forza.jpg" alt="Honda Forza">
                            <figcaption class="figure-caption">Honda Forza 750</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="https://www.motoo.com.br/quinzena-honda-pcx-fica-atras-da-yamaha-ybr-150-factor/"
                        target="_blank">
                        <figure class="figure">
                            <img src="../../assets/img/Factor 150.jpg" alt="Yamaha Factor 150">
                            <figcaption class="figure-caption">Yamaha Factor 150</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="https://quatrorodas.abril.com.br/noticias/com-mudancas-sutis-novo-ford-fiesta-parte-de-r-56-690/"
                        target="_blank">
                        <figure class="figure">
                            <img src="../../assets/img/Dacia Spring.jpg" alt="Dacia Spring">
                            <figcaption class="figure-caption">Dacia Spring</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <a href="https://carsnews.meionorte.com/2019/08/08/toda-linha-volkswagen-sem-entrada-e-com-a-primeira-parcela-so-para-o-mes-do-13o-salario-confira-as-ofertas/"
                target="_blank">
                <img src="../../assets/img/imagem3.jpeg" alt="Imagem 3" style="margin-bottom: 50px;">
            </a>

            <h3>Últimas Noticias</h3>
            <hr>

            <a href="https://www.noticiasautomotivas.com.br/novo-mercedes-benz-classe-s-tem-luxo-e-sofisticacao-em-nivel-elevado/" target="_blank">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                      <h5 class="card-title text-danger">Novo Mercedes-Benz Classe S</h5>
                      <p class="card-text text-danger" >O Novo Mercedes-Benz Classe S  chega em sua geração mais recente com um nível elevado de tecnologia e luxo.</p>
                      <a href="https://www.noticiasautomotivas.com.br/novo-mercedes-benz-classe-s-tem-luxo-e-sofisticacao-em-nivel-elevado/" class="btn btn-danger" target="_blank">Visitar</a>
                    </div>
                  </div>
            </a>

            <a href="https://www.noticiasautomotivas.com.br/novo-peugeot-208-e-208-e-gt-chega-ao-mercado-a-partir-de-r-74-990/" target="_blank" class="p-1">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                      <h5 class="card-title text-danger">Novo Peugeot 208 e 208 e-GT</h5>
                      <p class="card-text text-danger">O Novo Peugeot 208 chega ao mercado nacional com preços a partir de R$ 74.990.</p>
                      <a href="https://www.noticiasautomotivas.com.br/novo-peugeot-208-e-208-e-gt-chega-ao-mercado-a-partir-de-r-74-990/" target="_blank" class="btn btn-danger">Visitar</a>
                    </div>
                  </div>
            </a>

            <a href="https://www.noticiasautomotivas.com.br/civic-si-coupe-2020-mais-atraente-e-esperto-porem-custa-r-179-990/" target="_blank">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                      <h5 class="card-title text-danger">Civic Si Coupé 2020: mais atraente e esperto</h5>
                      <p class="card-text text-danger">Purista, o Honda Civic Si Coupé 2020 é uma das poucas oportunidades que os consumidores podem ter em forma de esportivo com transmissão manual no Brasil.</p>
                      <a href="https://www.noticiasautomotivas.com.br/civic-si-coupe-2020-mais-atraente-e-esperto-porem-custa-r-179-990/"  target="_blank" class="btn btn-danger">Visitar</a>
                    </div>
                  </div>
            </a>
            
        </div>
    </div>
</div>