<div class="container d-flex justify-content-center p-2">
    <div class="row">
        <div>
            <select name="marca" id="marca" style="width: 230px; margin-right: 10px;" class="filtro">
                <option disabled selected>MARCA</option>
                <option value="bmw">BMW</option>
                <option value="chevrolet">CHEVROLET</option> 
                <option value="honda">HONDA</option>         
                <option value="hyundai">HYUNDAI</option>                                
            </select>
        </div>

        <div>
            <select name="valormin" id="valormin" style="width: 230px; margin-right: 10px;" class="filtro">
                <option disabled selected>VALOR MIN</option>
                <option value="5000">R$ 5.000,00</option>
                <option value="5000">R$ 10.000,00</option>
                <option value="5000">R$ 15.000,00</option>
                <option value="5000">R$ 20.000,00</option>
                <option value="5000">R$ 25.000,00</option>
                <option value="5000">R$ 30.000,00</option>
                <option value="5000">R$ 35.000,00</option>
                <option value="5000">R$ 40.000,00</option>
                <option value="5000">R$ 50.000,00</option>
                <option value="5000">R$ 60.000,00</option>
                <option value="5000">R$ 70.000,00</option>
                <option value="5000">R$ 80.000,00</option>
                <option value="5000">R$ 90.000,00</option>
                <option value="5000">R$ 100.000,00</option>
                <option value="5000">R$ 150.000,00</option>
                <option value="5000">R$ 200.000,00</option>
                <option value="5000">R$ 300.000,00</option>
                <option value="5000">R$ 500.000,00</option>
            </select>
        </div>

        <div>
            <select name="valormax" id="valormax" style="width: 230px; margin-right: 10px;" class="filtro">
                <option disabled selected>VALOR MAX</option>
                <option value="5000">R$ 5.000,00</option>
                <option value="5000">R$ 10.000,00</option>
                <option value="5000">R$ 15.000,00</option>
                <option value="5000">R$ 20.000,00</option>
                <option value="5000">R$ 25.000,00</option>
                <option value="5000">R$ 30.000,00</option>
                <option value="5000">R$ 35.000,00</option>
                <option value="5000">R$ 40.000,00</option>
                <option value="5000">R$ 50.000,00</option>
                <option value="5000">R$ 60.000,00</option>
                <option value="5000">R$ 70.000,00</option>
                <option value="5000">R$ 80.000,00</option>
                <option value="5000">R$ 90.000,00</option>
                <option value="5000">R$ 100.000,00</option>
                <option value="5000">R$ 150.000,00</option>
                <option value="5000">R$ 200.000,00</option>
                <option value="5000">R$ 300.000,00</option>
                <option value="5000">R$ 500.000,00</option>
            </select>
        </div>

        <div>
            <select name="tipo" id="tipo" style="width: 230px; margin-right: 10px;" class="filtro">
                <option disabled selected>TIPO: TODOS</option>
                <option value="carros">CARROS</option>
                <option value="caminhoes">CAMINHÕES</option> 
                <option value="motos">MOTOS</option>         
                <option value="nautica">NAUTICA</option>                                
            </select>
        </div>

        <div>
            <a href="#" class="btn btn-danger btn-lg active" style="width: 150px;" role="button" aria-pressed="true">
               <img src="../../assets/img/lupa.png" alt="Icone Lupa" class="lupa"> Buscar</a>
        </div>

    </div>

</div>
<hr class="m-1 p-0">