<p>footer works!</p>
<footer>
    <div class="container">
        <img src="../../assets/img/mnn-branco.png" alt="Icone Footer" class="imgfooter">
        <div class="row">
            <div class="col-md-8">
                <p>
                    MinhaNaveNova - Somos um site especializado em vendas de carros, motos e caminhões usados , novos e semi-novos.
                    Atendemos em diversas cidades , e somos conhecido como uma empresa onde vende carros de qualidade e confiaveis. Confira!
                </p>
            </div>
            <div class="col-md-4">
                <h3>Redes Sociais</h3>
                <div class="container d-flex justify-content-center">
                    
                    <div>
                        <a href="" target="_blank" class="p-3"><img src="../../assets/img/linkedin.png" alt="Icone Linkedin" class="rds"></a>
                    </div>
                    <div>
                        <a href="" target="_blank" class="p-3"><img src="../../assets/img/facebook.png" alt="Icone Facebook" class="rds"></a>
                    </div>
                    <div>
                        <a href="" target="_blank" class="p-3" ><img src="../../assets/img/instagram.png" alt="Icone Instagram" class="rds"></a>
                    </div>
                    <div>
                        <a href="" target="_blank" class="p-3" ><img src="../../assets/img/whatsapp.png" alt="Icone Whats" class="rds"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>